  h1, h2 {
    font-weight: 900;
    text-align: center;
    width: 100%;
    color:white;
  }
  
  footer {
    background-image: linear-gradient(90deg, #fdcf0c, #f89b21);
  }

  .copyright {
    text-align: right;
    bottom: 0;
    font-weight: 100;
    font-size: 12px;
    max-width: 100vw;
  }

  .wave {
    margin-bottom: -50px;
  }
  
  footer p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.75);
    padding: 16px;
  }

.contactUsTitle {
  color:white;
}

.socialMediaIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMediaIcon {
  width: 5vw;
  max-width: 75px;
  min-width: 40px;
  margin: 12px;
}

@media (max-width: 1080px) {
  .copyright {
    text-align: center;
  }
}